<div class="table-container">
  <table>
    <thead>
      <tr >
        <th *ngFor="let column of columns" [ngStyle]="{'width':column.width, 'text-align': column.field=='action' ? 'center' : null}">
          {{ column.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of account; let index = index">
        <td *ngFor="let column of columns">
          <div [ngSwitch]="column.field">
            <ng-container *ngSwitchCase="'stt'">
              {{ startPage * total + index + 1 }}
            </ng-container>
            <ng-container *ngSwitchCase="'name'">
              <span> {{ a.firstname }} {{ a.lastname }} </span>
            </ng-container>
            <ng-container *ngSwitchCase="'action'">
              <div class="group-btn">
                <button class="edit" (click)="handleEditAccount(a)">Edit</button>
                <button class="delete" (click)="handleClickDelete(a)">
                  Delete
                </button>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ a[column.field] }}
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-container>
    <mat-paginator
      style="font-size: 20px; margin: 0 30px 30px 0; color: #111"
      [length]="length"
      [pageSize]="total"
      (page)="pageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </ng-container>
</div>
